{% extends 'adminlte/lib/_main_sidebar.html' %}
{% load static %}

<!-- Set upper left corner logo -->
{% block logo %}
    <a href="/" class="brand-link">
{#        <img src="{%static 'TestApp/logo.png' %}" alt="My Logo" class="brand-image img-circle elevation-3" style="opacity: .8">#}
        {% block logo_text %}<span class="brand-text font-weight-light">Sample app</span>{% endblock %}
    </a>
{% endblock logo %}

<!-- Remove user panel from left sidebar -->
{% block user_panel %}
{% endblock user_panel %}

<!-- Set header for side navbar -->
{% block nav_heading %}
{#    WHERE TO GO#}
{% endblock nav_heading %}

<!-- Define navbar links -->
{% block nav_links %}
    <li class="px-2 py-2">
        <a href="/sample/adminlte3">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
    </li>
{#    <li class="px-2 py-2">#}
{#        <a href="/admin">#}
{#            <i class="fa fa-cog"></i>#}
{#            <span>Admin</span>#}
{#        </a>#}
{#    </li>#}
    <li class="px-2 py-2">
        <a href="/sample/">
            <i class="fa fa-dot-circle"></i>
            <span>sample index</span>
        </a>
    </li>
    <li class="px-2 py-2">
        <a href="/sample/sample">
            <i class="fa fa-dot-circle"></i>
            <span>sample sample</span>
        </a>
    </li>
    <li class="px-2 py-2">
        <a href="/sample/logtest">
            <i class="fa fa-dot-circle"></i>
            <span>sample logtest</span>
        </a>
    </li>
    <li class="px-2 py-2">
        <a href="/sample/mailtest">
            <i class="fa fa-dot-circle"></i>
            <span>sample mailtest</span>
        </a>
    </li>
    <li class="px-2 py-2">
        <a href="/sample/bootstrap5">
            <i class="fa fa-dot-circle"></i>
            <span>sample bootstrap5</span>
        </a>
    </li>
{% endblock nav_links %}
