{% load django_bootstrap5 %}

<head>
    <title>sample bootstrap5</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="card" style="width: 18rem;">
<!--        <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">sample</h5>
            <p class="card-text">bootstrap5</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</body>